@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"; /* import weather icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"; /* import stock icons */


/* set up the body of our HTML page */
body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: flex;
 flex-direction: row;
 align-content: space-between;
 justify-content: space-around;
 flex-wrap: wrap;
}

/* each widget starts of with the same layout*/
section {
  flex: 1 1 33%;
  text-align: center;
  margin: 40px;
  background: rgba(255,255,255,0.8); 
  border-radius: 10px;
  height: 40%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Change css for different screen sizes */
@media (max-width: 700px){
  section {
    max-width: 100%;
  }
}
